<button (click)="displayMech(1)">regular documents</button>
<button (click)="displayMech(2)">Données imbriquées</button>

<div *ngIf="mech==1">
  <div id="columns">
    <figure *ngFor="let artist of artists">
    <img src="assets/img/artists/{{artist.art_cover}}">
    <figcaption> {{artist.art_nom}} <br> Origin: {{artist.art_pays}} <br> Genre: {{artist.art_genre}}</figcaption>
    </figure>
  </div>
</div>

<div *ngIf="mech==2">
  <div id="columns">
    <div>
        <figure *ngFor="let artistV of artistsV; let i=index">
          <img src="assets/img/artists/{{artistV.art_cover}}">
          <figcaption> {{artistV.art_nom}} <br> Origin: {{artistV.pay_libelle}} <br> Genre: {{artistV.gen_libelle}} </figcaption>
          <figcaption>
            <button (click)="displayAlbums(i)">Show albums</button>
            <div *ngIf="albshow==1">
              <div> 
                <p>{{artistV.albums.alb_nom}}</p>
              </div>
            </div>
          </figcaption>  
        </figure>
          <div>
            <div *ngFor="let alb of alb_artist">
              <span>{{alb.alb_nom}}</span>
            </div>
          </div>
    </div>
  </div>
</div>
